*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background-color: #001e4d;
}

.app{
    max-width: 600px;
    width: 90%;
    height: auto;
    background-color: #fff;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
    text-align: center;
}


.quiz{
    padding: 25px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    margin: 20px auto 0;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    display: block;
}

.quiz-topics{
    border-radius: 10px;
    height: auto;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    margin: 2px auto;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 10px;
}
.topics{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
}